@page
@model BusinessgameAssistant.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

    <div style="text-align:center;width:100%;height:100%">
        <h1>About</h1>
        <p>The BusinessgameAssistant is an online tool for the popular online game Businessgame.be</p>
        <p>Created by Michael McQuirk, aka Wiljap. You can contact me at Michael.McQuirk@gmail.com or via the in-game messaging system</p>
    </div>
